<html>
    <head>
        <title>{{subjudul}} | byCode</title>
    </head>
    <body>
        <h1>{{subjudul}} in {{judul}}</h1>
        <ul>
            {# template Tags #} 
            
            {% for link,name in nav %}

            <li><a href="{{link}}" title=" ">{{name}}</a></li>

            {%endfor%}


        </ul>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque debitis fugiat molestiae mollitia voluptatum sed at, ipsum, consequuntur totam nostrum pariatur repellendus sit libero corrupti ullam eos. Dolor, tempore expedita.</p>
    </body>
</html>