{% load static %}

<html>
    <head>
        <title> st{{title}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static app_css %}">
    </head>
    <body>
        <img id="banner" style="width:100%" src="{% static banner %}" alt="">
        <nav>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        </nav>
        <h1>{{subtitle}}</h1>
    </body>
</html>