<html>
    <head>
        <title>{{title}} | Seever</title>
    </head>
    <body>
        <h1>{{title}}</h1>
        <h2>{{contrib}}</h2>
        <ul>
            <li><a href="/" title="">home</a></li>
            <li><a href="/blog" title="" >blog</a></li>
            <ul>
                <li><a href="/about/Mario" title="">Mario Tiara</a></li>
                <li><a href="/about/Aji" title=" ">Aji Arya</a></li>
                <li><a href="/about/Dery" title=" ">Dery Ardyan</a></li>
                <li><a href="/about/Ganesh" title=" ">Ganesha</a></li>
            </ul>
        </ul>
    </body>
</html>